<% # setup params for various action links
  delete_url = refinery.jobs_admin_job_job_application_path(@job, job_application)
  delete_options = {
     class: "cancel confirm-delete",
            data: {
              confirm: t('message',  scope: 'refinery.admin.delete', title: job_application.name)
            }
          }
 %>

<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(job_application) -%>">
  <dl>
    <dt><%= t('.created_at')%> :</dt>
    <dd><%= job_application.created_at.strftime('%H:%M %b %d, %Y') %></dd>

    <dt><%= t('.name')%> :</dt>
    <dd><%= job_application.name %></dd>

    <dt><%= t('.phone')%> :</dt>
    <dd><%= job_application.phone %></dd>

    <dt><%= t('.email')%> :</dt>
    <dd><%= job_application.email %></dd>

    <% if job_application.cover_letter %>
      <dt><%= t('.cover_letter')%> :</dt>
      <dd><%= job_application.cover_letter %></dd>
    <% end %>

    <% if job_application.resume.url %>
      <dt><%= t('.resume')%> :</dt>
      <dd><%= link_to t('.download_resume', name: job_application.name), job_application.resume.url %></dd>
    <% end %>
  </dl>
  
  

  <div class="actions">
    <%= action_icon(:delete,  delete_url, t('delete', scope: 'refinery.admin.pages' ), delete_options ) %>
  </div>
</li>