<%= form_for [refinery, :jobs, :admin, @job] do |f| -%>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 20, :class => 'wymeditor widest' -%>
  </div>

  <%# WHAT IS THAT ? %>
  <%# if can?(:assign_wtc, @job) %>
    <div class="field">
      <%#= f.label :world_trade_center_id, 'World Trade Center' %>
      Leave blank to make job for the WTCA<br/>
      <%#= f.collection_select :world_trade_center_id, WorldTradeCenter.all, :id, :name, { include_blank: 'None' } %>
    </div>

  <%# else %>
    <%#= f.hidden_field :world_trade_center_id, value: current_refinery_user.world_trade_center_id %>
  <%# end %>

  <div class='field'>
    <%= f.label :employment_terms -%>
    <%= f.text_field :employment_terms, :class => "widest" -%>
  </div>

  <div class='field'>
    <%= f.label :hours -%>
    <%= f.text_field :hours -%>
  </div>

  <h3><%= t('.published_at') %></h3>
  <%= f.datetime_select :published_at %>

  <div id="field">
    <%= f.check_box :draft %>
    <%= f.label :draft, t('.save_as_draft'),
                :class => 'stripped' %>
  </div>

  <%= render "/refinery/admin/form_actions",
             :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.blog.admin.posts.post') %>
<% end %>
