<%= form_for [refinery, :jobs, :admin, @job] do |f| -%>
  <%= render "/refinery/admin/error_messages",
             :object => f.object,
             :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Globalize.locale %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :fill -%>
    <%= f.number_field :fill, :class => "larger" -%>
  </div>

  <div class='field'>
    <%= f.label :ref -%>
    <%= f.text_field :ref, :class => "larger" -%>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 20, :class => 'wymeditor widest' -%>
  </div>

  <div class='field'>
    <%= f.label :education -%>
    <%= f.text_field :education, :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= f.label :experience -%>
    <%= f.text_field :experience, :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= f.label :skills -%>
    <%= f.text_field :skills, :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= f.label :languages -%>
    <%= f.text_field :languages, :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= f.label :salary -%>
    <%= f.text_field :salary, :class => "larger" -%>
  </div>

  <div class='field'>
    <%= f.label :hours -%>
    <%= f.text_field :hours, :class => "larger"  -%>
  </div>

  <div class='field'>
    <%= f.label :employment_terms -%>
    <%= f.text_field :employment_terms, :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= f.label :length -%>
    <%= f.text_field :length, :class => "larger"  -%>
  </div>

  <div class='field'>
    <%= f.label :employment_date -%>
    <%= f.date_field :employment_date, :class => "larger"  -%>
  </div>

  <div class='field'>
    <%= f.label :contact -%>
    <%= f.text_field :contact, :class => "larger widest"  -%>
  </div>

  <div class='field'>
    <%= f.label :published_at -%>
    <%= f.datetime_select :published_at %>
  </div>

  <div id="field">
    <%= f.label :draft%>
    <%= f.check_box :draft %>
  </div>

  <%= render "/refinery/admin/form_actions",
             :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.blog.admin.jobs.job') %>
<% end %>