<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(job) -%>">
  <span class='title'>
    <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), refinery.job_applications_jobs_admin_job_path(job),
                :title => 'View applications for this job' %>
      <%= link_to refinery_icon_tag("application_go.png"), refinery.jobs_job_url(job),
                :title  => 'View this job<br/><em>Opens in a new window</em>',
                :target => "_blank" %>
      <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_jobs_admin_job_path(job),
                :title => 'Edit this job' %>
      <%= link_to refinery_icon_tag("delete.png"), refinery.jobs_admin_job_path(job),
                :class   => "cancel confirm-delete",
                :method  => :delete,
                :title   => 'Remove this job forever',
                :confirm => 'Are you certain?' %>
    </span>
    <%=h job.title %> <span class="preview">&nbsp;</span>
  </span>
</li>
