<%= form_for [refinery, job_application], url: refinery.jobs_job_applications_path, html: { multipart: true } do |f| %>

  <h2><%= t('.job_application_for_position', job_title: job.title) if job.present? %></h2>

  <%= render '/refinery/admin/error_messages', {object: @job_application, include_object_name: true} %>

  <div class='field'>
    <%= f.label :name, class: 'required' %>
    <%= f.text_field :name, class: 'text', required: 'required' %>
  </div>

  <div class='field'>
    <%= f.label :email, class: 'required' %>
    <%= f.email_field :email, class: 'text', required: 'required' %>
  </div>

  <div class='field'>
    <%= f.label :phone, class: 'required' %>
    <%= f.telephone_field :phone, class: 'text', required: 'required' %>
  </div>

  <% if jobs.present? %>
    <% if jobs.many? %>
      <div class='field'>
        <%= f.label :job_id, class: 'required' %>
        <%= f.select :job_id, jobs.collect {|j| [ j.title, j.id ] }, { prompt: t('select_a_job') }, required: true %>
      </div>
    <% else %>
      <%= f.hidden_field :job_id, value: jobs.first.id %>
    <% end %>
  <% else %>
    <%= f.hidden_field :job_id, value: job.id %>
  <% end %>

  <div class='field'>
    <%= f.label :cover_letter, class: 'required' %>
    <%= f.text_area :cover_letter, class: 'text', required: 'required' %>
  </div>

  <div class='field message_field'>
    <%= f.label :resume, class: 'required' %>
    <%= f.file_field :resume, class: 'text', required: 'required' %>
  </div>

  <div class="actions">
    <p class="instruction">
      <%= t('.mandatory_fields').html_safe %>
    </p>
    <%= f.submit t('.apply') %>
  </div>
<% end %>
