<% content_for :body_content_title do %>
  <%= @job.title %>
<% end %>

<% content_for :body do %>
  <h2><%= t :description %></h2>
  <%= @job.description.html_safe %>

  <% unless @job.employment_terms.blank? %>
    <h2><%= t :employment_terms %></h2>
    <%= @job.employment_terms.html_safe %>
  <% end %>

  <% unless @job.hours.blank?%>
    <h2><%= t :hours %></h2>
    <%= @job.hours.html_safe %>
  <% end %>

  <%= render :partial => "/refinery/jobs/job_applications/form" %>

  <%= link_to t(:back_to_list), refinery.jobs_jobs_path %>
<% end %>

<% content_for :body_content_right do %><% end %>

<%= render :partial => "/refinery/content_page" %>