<% content_for :body_content_title do %>
  <%= @job.title %>
<% end %>

<% content_for :body_content_left do %>
  <div>
    <h1><%= @job.title %></h1>
  </div>

  <div>
    <h2>Description</h2>
    <%= @job.description.html_safe %>
  </div>
  <% unless @job.employment_terms.blank? %>
    <div>
      <h2 style='display:inline'>Employment Terms:</h2>  <%= @job.employment_terms.html_safe %>
    </div>
  <% end %>
  <% unless @job.hours.blank?%>
    <br>
    <div>
      <h2 style='display:inline'>Hours:</h2>
      <%= @job.hours.html_safe %>
    </div>
  <% end %>

  <h1><%= link_to 'Apply for this position', refinery.new_jobs_job_job_application_url(@job) %></h1>

  <% if Refinery::Jobs::Job::ShareThis.enabled? %>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_email_large' displayText='Email'></span>
  <% end %>

<% end %>

<% content_for :body_content_right do %>
  <!-- <h2><%= link_to 'Apply for this position', refinery.new_jobs_job_job_application_url(@job) %></h2>
  <% if @jobs.length > 1 %>
    <h2>Other Jobs</h2>
    <ul id="jobs">
      <% @jobs.each do |job| %>
        <% if @job != job %>
          <li>
            <%= link_to job.title, refinery.jobs_jobs_url(job) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %> -->
<% end %>

<%= render :partial => "/refinery/content_page" %>

<% content_for :javascripts do %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "<%= Refinery::Jobs.share_this_key %>", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
<% end if Refinery::Jobs::Job::ShareThis.enabled? %>
